 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-1 .u-group-1 {
  width: 753px;
  min-height: 515px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 1px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 373px 0 0;
}

.u-section-1 .u-image-1 {
  width: 382px;
  height: 382px;
  background-image: url("images/PSX_20220819_135827.jpg");
  background-position: 50% 50%;
  margin: -424px auto 0 13px;
}

.u-section-1 .u-table-1 {
  width: 533px;
  margin: 76px auto 0 6px;
}

.u-block-f35f-56 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-size: 1.875rem;
}

.u-block-f35f-68 {
  background-image: none;
}

.u-section-1 .u-table-2 {
  width: 525px;
  margin: -273px 0 0 auto;
}

.u-block-f35f-72 {
  background-image: none;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-size: 1.875rem;
}

.u-block-f35f-84 {
  background-image: none;
}

.u-section-1 .u-table-3 {
  width: 533px;
  margin: 34px auto 0 6px;
}

.u-block-f35f-89 {
  background-image: none;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  font-size: 1.875rem;
}

.u-block-f35f-101 {
  background-image: none;
}

.u-section-1 .u-table-4 {
  width: 525px;
  margin: -273px 0 60px auto;
}

.u-block-f35f-105 {
  background-image: none;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  font-size: 1.875rem;
}

.u-block-f35f-117 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2074px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 435px;
    height: 435px;
    margin-top: 13px;
    margin-left: 231px;
  }

  .u-section-1 .u-table-1 {
    width: 415px;
    margin-top: 29px;
    margin-left: 13px;
  }

  .u-section-1 .u-table-2 {
    width: 479px;
    margin-right: 13px;
  }

  .u-section-1 .u-table-3 {
    width: 415px;
    margin-top: 85px;
    margin-left: 13px;
  }

  .u-section-1 .u-table-4 {
    width: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.1875rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: 0;
    margin-left: 149px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-2 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-3 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-4 {
    margin-top: 33px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2134px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 13px;
    min-height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 200px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 21px;
    margin-left: 49px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-2 {
    margin-top: 79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-3 {
    margin-top: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-4 {
    margin-top: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2226px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 384px;
    min-height: 357px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 319px;
    height: 319px;
    margin-top: -690px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 404px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-2 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-3 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-4 {
    margin-top: 50px;
    margin-bottom: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}